.watch-layout {
  min-height: 100vh;
  background: #020617;
  color: #e5e7eb;
  padding: 30px;
}

/* ===== VIDEO ===== */
.video-box {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 20px;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

/* ===== SERVERS ===== */
.servers {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  flex-wrap: wrap;

  button {
    padding: 10px 18px;
    background: #020617;
    color: #bfdbfe;
    border: 1px solid #1e40af;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;

    &.active,
    &:hover {
      background: #2563eb;
      color: #fff;
    }
  }
}

/* ===== EPISODES ===== */
.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 12px;

  .episode {
    text-align: center;
    padding: 10px 0;
    background: #020617;
    border-radius: 8px;
    text-decoration: none;
    color: #bfdbfe;
    border: 1px solid #020617;
    transition: 0.3s;

    &:hover {
      border-color: #2563eb;
      background: #020617;
    }

    &.active {
      background: #2563eb;
      color: #fff;
      font-weight: 600;
    }
  }
}
